:root{
	--mainColor:#1a2531;
	--secondaryColor:#1e3142;

	--borderColor:#164D56;

	--navbar: #09141f;

	--mainText:#fff;
	--secondaryText:#dfd9d9;

	--navHover: #41b9ff;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;
}