:root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--navbar: #d4d1d1;

	--mainText:black;
	--secondaryText:#4b5156;

	--navHover: #595959;	

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;

	--buttonColor:black;
}

* {
	box-sizing: border-box;
  }
  

html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

html{
	scroll-padding-top: 10%;
}

body *{
	transition: 0.3s;
}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a{
	font-family: 'Russo One', sans-serif;
	text-decoration: none;	
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1{
	background-color: var(--mainColor);
	border-bottom: 2px solid var(--borderColor);
	overflow: hidden;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom: 2px solid var(--borderColor);
	overflow: hidden;
}


.main-container{
	width: 82%;
	margin: 0 auto;	
}

/************************** INTRO **************************/
.nav-wrapper{	
	display: flex;
	justify-content: space-between;

	background-color: var(--navbar);
	border: 1px solid var(--borderColor);
	padding: 5px 0;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	border-radius: 0 0 1px 1px;

	position: sticky;		
	top: 0;
	z-index: 1;
}

#home_btn img{
	width: 32px;
	height: 32px;	
}

#home_btn{
	align-self: center;
	margin-left: 9%;
}

#home_btn:hover{
	padding: 0 5px;
}

.nav-btn{
	display: inline-flex;
	padding-left: 0;  /* There's some padding on the left of lists by default. This just gets rid of that */
}

.nav-btn a{
	padding: 10px 20px;
	color: var(--mainText);	
}

.nav-btn a:hover{
	padding: 10px 25px;
	color: var(--navHover);
}

#contact-me{
	background-color: var(--secondaryColor);
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;	
	align-self: center;
	margin-right: 4%;
}

#contact-me a{
	color: var(--mainText);
	padding: 10px 15px;
}

#contact-me a:hover{
	padding: 10px 20px;
	color: var(--navHover);
}


.intro-wrapper{
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	border-radius: 13px 13px 0 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:		
		'left-column right-column'
	;
}


.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}

#profile_pic{
	display: block;
	margin:0 auto;

	height: 250px;
	width: 200px;
	object-fit: cover;
	border:3px solid var(--borderColor);
}

#pick_your_theme{
	text-align: center; 
	line-height: 0;
	margin-bottom: 18px; 
	margin-top: 45px;
}

.theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}

#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#purple-mode{
	background-color: #7E4C74;
}


.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 70px;
}


#preview-shadow{
	background-color: var(--previewShadow);
	width: 400px;
	height: 240px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 410px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
	position: relative;
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top: -5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}


#corner-br{
	bottom:-5px;
	right: -5px
}


#corner-bl{
	bottom:-5px;
	left: -5px
}

/************************** MORE ABOUT ME + SOCIAL LINKS **************************/
.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;
}


#skills{
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

#skills ul{
	padding: 0;
}

#resume{
	color: var(--mainText);
}

#resume:hover{
	color: var(--secondaryText);
}

.social-links{
	display: grid;
	align-content: center;
	text-align: center;
}

#social_img{
	width: 100%;
}

.social-links ul{
	padding-left: 0;
	margin: 0;
}

#social_links_list a{
	color: var(--mainText);
}

#social_links_list a:hover{
	color: var(--secondaryText);
}

/************************** EDUCATION **************************/
.education{
	display: flex;
	justify-content: space-around;
}

.education h4{
	margin-bottom: 0px;
}

.education p:last-of-type{
	padding-bottom: 30px;
}

#high_school{
	text-align: center;
	margin-left: 20px;
}

#high_school img{
	width: 133px;
	height: 133px;
}

#high_school p:first-of-type{
	margin-top: 0;
}

.uni{
	text-align: center;
}

.uni img{
	width: 96.2px;
	height: 119px;
}

.uni h4{
	margin-bottom: 10px;
}

.uni p:first-of-type{
	margin-top: 4px;
}

/************************** EXPERIENCE **************************/
#fgf{
	text-align: center;
}

#fgf img{
	width: 110px;
}

#fgf h4{
	margin-bottom: 20px;
}

/************************** PROJECTS **************************/
#project-container{
	width: 85%;
	margin: 0 auto;
}

.my-projects{
	display: grid;
	grid-template-columns: repeat(3, minmax(100px,1fr));
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	align-items: stretch;
	gap: 5%;
}

.project_item{
	padding: 4%;
	border: 2px solid var(--borderColor);
	border-radius: 13px;
	background-color: var(--secondaryColor);
	text-align: center;
}

.project_item h4, h6{
	margin: 8px 0;
}

.project_item h6{
	color: var(--secondaryText);
}

.project_item a:hover{
	border-radius: 0 0 19px 19px;	
	background-color: #17a2b8;
}

.project_item img{
	width: 100%;
	border: 2px solid var(--borderColor);
	border-radius: 10px;	
}


/************************** CONTACT **************************/
#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

.input-field{
	width: 100%;
	padding: 10px 0;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding: 10px 0;
	color: #fff;
	background-color: var(--buttonColor);
	border-radius: 5px;
	border:none;
}

#submit-btn:hover{
	cursor: pointer;
}

#submit-btn:active{
	background-color: var(--secondaryColor);
}

#contact-form textarea{
	max-width: 600px;
}

/************************** Button Animations **************************/
#backToTop{
	display: none;
	position: fixed;
	bottom: 17px;
	right: 12px; 
	padding: 15px 10px;
	width: 50px;
	font-size: 25px;
	border-radius: 16px;
	border: 1px solid black;
	cursor: pointer;
	color: white;
}

/* When the button shows up */
.btnEntrance {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btnEntrance;
  }
  
  /* fadeInUp */
  @keyframes btnEntrance {
	from {
	  opacity: 0;
	  transform: translate3d(0, 100%, 0);
	}
	to {
	  opacity: 1;
	  transform: translate3d(0, 0, 0);
	}
  }
  
  /* When the button leaves */
  .btnExit {
	animation-duration: .25s;
	animation-fill-mode: both;  
	animation-name: btnExit;
  }
  
  /* fadeOutDown */
  @keyframes btnExit {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	  transform: translate3d(0, 100%, 0);
	}
  }


/************************** Media Screens **************************/
@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

	}

}


/************************** Animations **************************/
@keyframes fadeInName {
	from { opacity: 0; transform: translateX(-50%);}
	to { opacity: 1; transform: translateX(0px);}
}

@keyframes fadeInOther {
	from { opacity: 0;}
	to { opacity: 1;}
}

#name{
	/* The shorthand properties are (in order): animation-name, animation-duration, animation-timing-function, animation-fill-mode, animation-delay */
	animation: fadeInName 2.5s ease forwards 0.3s;
}
  
#home_btn, .nav-btn , #contact-me , #profile_pic, .right-column{
	/* The shorthand properties are (in order): animation-name, animation-duration, animation-timing-function, animation-fill-mode, animation-delay */
	animation: fadeInOther 3s ease forwards 0.3s;
}


.testing{
	opacity: 0;
  	transform: translateY(90px); /* Initial position */
}

.active {
	opacity: 1;
	transform: translateY(0); /* Final position */
	transition: opacity 0.5s ease, transform 0.5s ease;
}
