:root{
	--mainColor:#382a3f;
	--secondaryColor:#46344E;

	--borderColor:#1d1520;

	--navbar: #2e2433;

	--mainText:#fff;
	--secondaryText:#dfd9d9;

	--navHover: #c653c6;

	--themeDotBorder:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#2b202f;


	--buttonColor:#8534a3;
}
